.tab .indicator {
	background-color: white;
}

body {
		background-color:#F2F2F2
	}

.titulo {
	font-size: 1.3rem;
	margin-left: 5%;
	margin-right: auto;
}
.topo-fixo {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.section{
	padding-top: 125px
}